.movie-details {
    padding: 20px;
    background-color: #fff;
    position: relative;
    color: #444;
}

.movie-details article {
    border-top: 5px solid #eee;
    position: relative;
    padding: 20px;
}

.movie-details-article_title {
    position: absolute;
    top: 0;
    left: 20px;
    transform: translate(0, -60%);
    background-color: #eee;
    width: 160px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.movie-details ul {
    display: flex;
}

.movie-details ul li {
    padding: 5px;
    max-width: 14%;
    min-width: 14%;
}

.movie-details ul li:hover .dark-link, .movie-details ul li:hover .colored-link {
    color: #fff;
}

.movie-details ul li figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.movie-details figure figcaption {
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.movie-details_votes {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 200px;
    font-size: 0;
    height: 40px;
}

.movie-details_title_status {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 5px;
    vertical-align: top;
    letter-spacing: 1px;
    background-color: yellowgreen;
}

.status-Released {
    background-color: green;
}

.status-Planned {
    background-color: #4085B1;
}

.status-Canceled {
    background-color: #FF0000;
}

.status-Rumored {
    background-color: #ccc;
}

.movie-details_poster {
    width: 100%;
    margin-top: 20px;
}

.movie-details_tagline {
    text-align: right;
    font-style: italic;
}

.movie-details_tagline::before, .movie-details_tagline::after {
    content: '\'';
}

.movie-details_overview {
    margin: 10px 0 20px 0;
    padding: 10px 0;
    text-align: justify;
}

.movie-details_video .video-wrapper {
    width: 100%;
    display: flex;
}

.movie-details_video .video-wrapper .iframe-wrapper {
    width: 50%;
    background-color: #4085B1;
    padding: 20px;
}
.movie-details_video iframe {
    width: 100%;
    height: 300px;
}

.movie-details_video .video-wrapper ul {
    width: 50%;
    flex-direction: column;
    padding: 0;
    max-height: 343px;
    overflow: auto;
}

.movie-details_video .video-wrapper ul li {
    min-width: 100%;
    padding: 20px;
    margin: 0;
    border-radius: 0;
    padding-bottom: 21px;
}

.movie-details_video .video-wrapper ul li:hover {
    background-color: #eee;
    color: #444;
}

.movie-details_video .video-wrapper ul li.active {
    background-color: #4085B1;
    color: #fff;
}

.movie-details_genres ul li, .movie-details_companies ul li {
    max-width: 15%;
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-details_companies ul li:hover {
    background: none;
    color: #222;
    cursor: default;
}

.movie-details_cast ul li {
    max-width: 10%;
    min-width: 10%;
    margin: 0;
    cursor: default;
    text-align: center;
    line-height: 20px;
}

.movie-details_cast ul li:hover {
    background: none;
    color: #222;
}

.movie-details_cast figure {
    position: relative;
}

.movie-details_cast figure img{
    width: 100%;
}

.movie-details_cast figure figcaption {
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #222;
    padding: 10px 0;
    color: #fff;
    width: 100%;
    display: none;
}

.movie-details_cast figure:hover figcaption {
    display: block;
}

.movie-details_no-data {
    margin: 10px;
}
