.movies-list {
    padding: 0;
}

.movies-list ul.main-content_movies-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movies-list .collection-information {
    background-color: #fff;
    margin-bottom: 5px;
}

.movies-list .collection-information img {
    width: 100%;
}

.movies-list .collection-information p {
    padding: 20px;
}
