.navigation {
    background-color: #fff;
    transition: all 1s;
    overflow: hidden;
    margin-bottom: 5px;
}

.loading {
    min-height: 110px;
}

.navigation.collapsed-false {
    max-height: 70px;
}

.navigation.collapsed-true {
    max-height: 220px;
}

.navigation.collapsed-false i {
    transform: rotate(0deg);
    transition: all 1s;
}

.navigation.collapsed-true i {
    transform: rotate(180deg);
    transition: all 1s;
}

.navigation_main-content, .navigation_short-info {
    display: flex;
}

.navigation-active-filter {
    font-size: 28px;
    color: #4085B1;
    font-weight: bold;
}

.navigation_short-info {
    justify-content: space-between;
    padding: 20px 60px 20px 20px;
    position: relative;
    border-bottom: 5px solid #eee;
}

.navigation_short-info_collapse_btn {
    position: absolute;
    top: 17px;
    right: 15px;
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
    border-radius: 5px;
    color: #4085B1;
}

.navigation_short-info_collapse_btn:hover {
    background-color: #eee;
    color: #000;
}

.navigation_short-info form {
    display: flex;
}

.navigation_short-info form input[type="text"] {
    border: 2px solid #4085B1;
    padding: 5px;
}

.navigation_search_btn {
    border: none;
    padding: 5px;
    cursor: pointer;
    border-left: none;
    background-color: #4085B1;
    border: 2px solid #4085B1;
}

.navigation_search_btn:hover {
    color: #4085B1;
    background-color: #fff;
    font-weight: bold;
}

.navigation_main-content article {
    padding-right: 10px;
}

.navigation_main-content article:not(:first-child) {
    border-left: 5px solid #eee;
}

.navigation-genres-list {
    min-width: 60%;
    max-width: 60%;
}

.navigation-genres-list ul, .navigation-filters-list ul{
    display: flex;
    flex-wrap: wrap;
}

.navigation-genres-list ul li {
    width: 20%;
}

.navigation-filters-list ul li {
    width: 100%;
}

.navigation-filters-list {
    min-width: 13%;
    max-width: 13%;
}

.navigation-search-container, .navigation-search-results {
    min-width: 27%;
    max-width: 27%;
    padding: 5px 10px;
}

.navigation-search-results figure {
    display: flex;
    align-items: center;
}

.navigation-search-results figure img {
    max-width: 20px;
    max-height: 30px;
}

.navigation-search-results figure figcaption {
    padding-left: 20px;
    font-size: 12px;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
