.movie {
    margin-bottom: 20px;
    display: flex;
}

.movie_img {
    width: 200px;
    height: 300px;
}

.movie-body {
    position: relative;
}

.movie-body_title {
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    padding: 20px 20px 10px 20px;
}

.movie-body_overview {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px 20px 10px;
}

.movie-body_genres {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
}

.movie-body_vote {
    padding: 10px 20px 20px 20px;
    text-align: right;
}