.App {
  min-height:100%;
  position:relative;
}

.center-content {
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

main {
  padding: 20px 0 80px 0;
}

header, footer {
  padding: 20px;
  background-color: #4058B1;
}

.header_link {
  display: flex;
  justify-content: space-between;
  font-size: 42px;
  font-weight: bold;
  font-style: italic;
}

.side-menu {
  margin-bottom: 20px;
}

footer {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #222;
  justify-content: flex-end;
  font-weight: bold;
}

ul {
  width: 100%;
  padding-left: 10px
}

ul li {
  padding: 5px 0 5px 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

ul li:hover {
  background-color: #4058B1;
  color: #fff;
}

.link {
  color: #fff;
}

.colored-link {
  color: #4058B1;
}

.dark-link {
  color: #000;
}

.bold {
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
