.movie {
    margin-bottom: 5px;
    min-width: 24.7%;
    max-width: 24.7%;
    background-color: #fff;
    position: relative;
}

.movie.favorite {
    box-shadow: 0px 0px 5px orangered;
    border-collapse: collapse;
}

.movie.watchList {
    box-shadow: 0px -1px 2px #4085B1;
    border-collapse: collapse;
}

.movie_title {
    padding: 10px 60px 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.movie_title:hover {
    background: linear-gradient(90deg, #4085B1, #fff) ;
    color: #fff;
}

.movie .movie-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.movie .movie-actions i {
    margin: 10px;
    cursor: pointer;
    color: #ccc;
}

.movie .movie-actions i.favorite {
    color: orangered;
}

.movie .movie-actions i:hover {
    color: #444;
}

.movie figure {
    display: flex;
}

.movie figure figcaption {
    width: 100%;
}

.movie_img-wrapper {
    min-width: 150px;
    min-height: 225px;
    max-width: 150px;
    max-height: 225px;
    margin-left: 20px;
}

.movie_img {
    width: 100%;
}

.movie-body {
    padding-top: 10px;
}

.movie-body_release {
    padding-left: 10px;
}

.movie-body_release span {
    display: block;
    margin: 10px 0 0 10px;
    font-weight: normal;
}

.movie-body_overview {
    padding: 20px;
    text-align: justify;
}

.movie-body_genres {
    padding: 0 10px 10px 10px;
}

.movie-body_genres ul {
    padding-left: 0;
}

.movie-body_vote {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 20px;
    text-align: right;
}

.movie-body_vote img {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

/*zoom movie poster */
img[tabindex="0"] {
    cursor: zoom-in;
}

img[tabindex="0"]:focus {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}
