.paginator {
    background-color: #fff;
    width: 100%;
    padding: 20px;
}

.paginator ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.paginator ul li {
    margin: 0 10px;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #ccc;
    min-width: 35px;
    text-align: center;
}

.paginator ul li.active {
    background-color: #4085B1;
    color: #fff;
}

.paginator ul li.dotted_li.none {
    display: none;
}

.paginator ul li.dotted_li {
    padding: 10px 0 0 0;
    margin: 0;
    border: none;
}

.paginator ul li.dotted_li:hover {
    cursor: default;
    background-color: #fff;
    color: #222;
}